/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

// adds padding to main component
router-outlet:nth-of-type(1) + * {
  display: block;
  padding: 20px;
}

// replace swiper styles
.swiper {
  .swiper-pagination-bullet-active {
    background-color: #c2185b; // angular material theming sucks
  }

  .swiper-button-next {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23c2185b'%2F%3E%3C%2Fsvg%3E");
  }

  .swiper-button-prev {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23c2185b'%2F%3E%3C%2Fsvg%3E")
  }
}
